/.gitattributes         export-ignore
/.scenarios.lock        export-ignore
/.travis.yml            export-ignore
/sut                    export-ignore
/tests                  export-ignore
/phpunit.xml.dist       export-ignore
