/.gitattributes         export-ignore
/.scenarios.lock        export-ignore
/.circleci              export-ignore
/sut                    export-ignore
/tests                  export-ignore
/phpunit.xml.dist       export-ignore
